body {
    background: black;
    color: white;
    text-align: center;
    font-family: mono;
}

p {
    font-size: 1.3rem;
}

ol,li, a {
    font-size: 2.3rem !important;
    text-decoration: none !important;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.5) !important;
}

a:visited {
    color: #aa0000;
    text-decoration: none !important;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.5) !important;
}

.box {
    padding: 1em;
}
