<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>daten.sunnata.de – [Adminarea]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="box">
      <h1>[Adminarea]</h1>
      <p>Hi, {{ username }} :)<br/>hier kannst Du Dateien, die Du teilen willst hochladen.</p>
    </div>
    <hr>
    <div class="box">
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="button" id="loadFileXml" value="Dateien aussuchen" onclick="document.getElementById('files').click();" />
        <input type="file" name="files" id="files" style="display:none;" multiple />
        <button type="submit">Hochladen!</button>
      </form>
    </div>
    <hr/>
    <div class="box">
      <p><a href="/admin/user">Lege einen User an</a>, der auf die Dateien zugreifen darf.</p>
      <p>Oder <a href="/admin/delete">lösche eine Datei</a> vom Server...</p>
      <p><a href="/">Hier</a> geht's zu den Dateien, die Du teilst...</p>
    </div>
  </body>
</html>
