<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>[Adminarea] – daten.sunnata.de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <h1>Dateien hochgeladen!</h1>
    <p>Die Dateien sind hochgeladen und sollten jetzt <a href="/">hier</a> erschienen.</p>
  </body>
</html>
