<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>[Adminarea] – daten.sunnata.de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="box">
      <h1>Neuer Benutzer angelegt!</h1>
      <p>Der neue Benutzer "{{ user }}" mit dem Passwort *** {{ password }} *** wurde erfolgreich angelegt.</p>
    </div>
    <hr/>
    <div class="box">
      <p>
        <a href="/admin/user">Zurück zur Userübersicht</a>
        <br/>
        <br/>
        <a href="/">Zurück zur Startseite</a>
      </p>
    </div>
  </body>
</html>
