<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>daten.sunnata.de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div style="max-width: 50%; margin-left: 25%; margin-right: 25%;">
      <h1 style="text-align:center;">Hier sind Dateien, die Linus mit Dir teilt:</h1>
      <p>
        <ol>
          {% for file in files %}
          <li><a href="/files/{{ file }}">{{ file }}</a> – <small>{{ (file_size[file]/(1024*1024))|round(2) }} MB</small></li>
          {% endfor %}
        </ol>
      </p>
    </div>
  </body>
</html>
