<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>daten.sunnata.de – [Adminarea]</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="box">
      <h1>Neune Benutzer anlegen</h1>
      <p>Hier kannst Du Usernamen und Passwort des neuen Benutzers festlegen.</p>
    </div>
    <hr/>
    <div class="box">
      <form method="POST" enctype="multipart/form-data">
        <label>Name
          <input type="text" name="user" placeholder="username"/>
        </label>
        <label>Passwort
          <input type="password" name="password" />
        </label>
        <button type="submit">Benutzer anlegen</button>
      </form>
    </div>
  </body>
</html>
