<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8"/>
    <title>[Adminarea] – daten.sunnata.de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" type="text/css" />
  </head>
  <body>
    <div class="box">
      <h1>Alle Benutzer</h1>
      <p>Hier ist eine Liste aller Benutzer, die auf Deine Daten zugreifen dürfen:
        <ol>
          {% for user in users %}
          {% set name = user.split(':')[0] %}
          <li>{{ name }}</li>
          {% endfor %}
        </ol>
      </p>
    </div>
    <hr/>
    <div class="box">
      <p><a href="/admin/new_user">Lege einen neuen Benutzer an</a>, der Zugriff auf Deine Daten hat.</p>
      <p><a href="/admin">Hier</a> geht's zurück zur Übersicht...</p>
    </div>
  </body>
</html>
